*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(221, 194, 214);
    color: black;
}
.logo{
    width: 100px;
    height: 50px;
}
header{
    position: fixed;
    display: flex;
    align-items: baseline;
    justify-content: space-around;
    background-color: rgb(185, 133, 171);
    color: white;
    padding: 10px 0;
    text-align: center;
    width: 100%;
    z-index: 4;

}
header ul{
    position: absolute;
    top: 0;
    right: 18%;
    list-style: none;
    display: flex;
}
.redes{
    width: 35px;
    height: 30px;
    margin: auto;
}
header nav a {
    text-decoration: none;
    color: rgb(0, 0, 0);
    padding: 0 5px;
    transition: background-color 0.3s;
    font-size: 1.2em;
    
}
header nav a:hover{
    background-color: rgb(184, 118, 164);
    border-radius: 50px;
}
main{
    height: 130vh;
    display: flex;
}
.modal{
    position: fixed;
    left: 50%;
    top: 100px;
    width: 50%;
    background-color: rgba(157, 107, 161, 0.863);
    color: white;
    padding: 20px;
    z-index: 5;
}
