*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Arial', sans-serif;
    color: #333;
}
header{
    display: flex;
    width: 100%;
    background-color: #caa7be;
    color:black;
    padding: 20px;
    text-align: right;  
    justify-content: space-between;
    position: relative;

}
ul{
    display: flex;
    justify-content: right;
    text-align: right;
    list-style: none;
    padding: 0px;
    position: absolute;
    right: 31px;
    font-size: 1rem;
}
nav{
    display: flex;
    justify-content: right;
    padding: 0 20px;
    margin-top: 30px ;

}
a{
    text-decoration: none;
    color: black;
    padding: 10px;
}
.logo-header{
    width: 70px;
}
.rede-social{
    width: 40px;
    height: 40px;
    margin: 0;
}
