*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: Arial, sans-serif;
    background-color: #cdd4ce;
    color: #333;
}
main{
    height: 130vh;
    display: flex;
}

.logo{
    width: 100px;
    height: 50px;
    position: relative;
    left: 67%;
    top: 0px
}
.redes{
    display: flex;
    justify-content: space-between;
    width: 100px;
    height: 50px;
    position: relative;
    left: 650%;
    top: 10px;
    padding: 10px;
}
header{
    position: fixed;
    display: flex;
    align-items: baseline;
    justify-content: space-around;
    background-color:#5d8866;
    color: white;
    padding: 50px 0;
    text-align: center;
    width: 100%;

}
ul{
    position: relative;
    top: 0;
    right: 15%;
    list-style: none;
    display: flex;
    padding: 10px;
}
a{
    text-decoration: none;
    color: #000000;
    padding:10px 15px;
}
nav{

    display: flex;
    position: absolute;
    left: 150px;
    top: 50px;
}
nav a:hover{
    background-color: rgb(144, 170, 152);
    border-radius: 20px;
}